.app__form-container {
    background-color: var(--Magnolia);
    width: 100%;
    flex: 1;
    display: flex;
    justify-content: center;
    padding: 50px 0px;

    .app__form-inner-container {
        border-radius: 8px;
        width: 100%;
        flex: 1;
        display: flex;
        background-color: var(--White);
        padding: 10px;
        flex-direction: row;
        box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2);
        max-width: 60%;

        .app__form-tab {
            background: url('/bg-sidebar-desktop.svg') no-repeat;
            background-size: cover;
            background-position: center;
            border-radius: 8px;
            min-width: 270px;
            display: flex;
            flex-direction: column;
            gap: 30px;
            padding: 40px 40px;
            color: var(--White);

            .active {
                display: flex;
                flex-direction: row;
                align-items: center;
                background-color: transparent;
                font-weight: 500;
                &:hover {
                    text-decoration: none;
                }
            }

            .inactive {
                display: flex;
                flex-direction: row;
                align-items: center;
                background-color: transparent;
                font-weight: 500;
                &:hover {
                    text-decoration: none;
                }

            }

            .tab-number-container {
                display: flex;
                flex-direction: column;
                border: 1px solid var(--White);
                border-radius: 100%;
                justify-content: center;
                align-items: center;
                width: 32px;
                height: 32px;
                font-size: 13px;
                margin-right: 20px;
                font-weight: 500;
            }

            .tab-number-container-active {
                display: flex;
                flex-direction: column;
                border: 1px solid var(--White);
                border-radius: 100%;
                justify-content: center;
                align-items: center;
                width: 32px;
                height: 32px;
                margin-right: 20px;
                font-weight: 500;
                font-size: 13px;
                background-color: var(--Light-blue);
                color: var(--Marine-blue);
                transition: all 0.3s ease-in-out;
            }

            .tab-header-container {

                .title {
                    color: var(--Light-gray);
                    font-size: 12px;
                }

                .subtitle {
                    color: var(--White);
                    font-weight: 600;
                    font-size: 12px;
                }

            }

        }
    }
}

.app__info-form {
    // border: 1px solid red;
    margin-inline: 60px;
    padding-top: 30px;
    padding-bottom: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;

    label {
        font-weight: 600;
        font-size: 13px;
        color: var(--Marine-blue)
    }

    input {
        width: 100%;
        padding: 13px;
        border-radius: 8px;
        margin-top: 10px;
        margin-bottom: 20px;
        font-weight: 600;
        font-size: 14px;
        color: var(--Marine-blue);
        border: 1px solid var(--Light-gray);
        outline: none;
    }

    .app__form-buttons {
        display: flex;
        justify-content: space-between;
        align-items: center;

        span {
            cursor: pointer;
            color: var(--Marine-blue);
            font-weight: 600;
            font-size: 14px;
            padding: 0px;
        }

        button {
            color: var(--White);
            background-color: var(--Marine-blue);
            padding: 10px 20px;
            border-radius: 5px;
            border:none ;
            font-weight: 600;
            font-size: 14px;
            cursor: pointer;
        }
    }

    .billing-type-container {
        background-color: var(--Light-gray);
        display: flex;
        flex-direction: row;
        border-radius: 5px;
        justify-content: center;
        align-items: center;
    }

    .thanks {
        padding: 0px;
        display: flex;
        flex: 1;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h3 {
            color: var(--Marine-blue);
            margin-top: 20px;
            font-size: 21px;
        }

        p {
            text-align: center;
            color: var(--Cool-gray);
            font-size: 13.5px;
            margin-top: 20px;
            font-weight: 500;
            line-height: 20px;
        }
    }
}