.app__header {
    margin-bottom: 25px;

    h2 {
        color: var(--Marine-blue);
        margin-bottom: 10px;
        font-weight: 700;
        font-size: 24px;
    }

    p {
        color: var(--Cool-gray);
        font-weight: 500;
        font-size: 13px;
    }

    @media screen and (max-width: 450px) {
        h2 {
            margin-bottom: 0px;
        }
    }
}